<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-rosquilla [objeto]="graficos.grafico1" titulo="Grafico 1"></app-rosquilla>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-rosquilla [objeto]="graficos.grafico2" titulo="Grafico 2"></app-rosquilla>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-rosquilla [objeto]="graficos.grafico3" titulo="Grafico 3"></app-rosquilla>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-rosquilla [objeto]="graficos.grafico4" titulo="Grafico 4"></app-rosquilla>
            </div>
        </div>
    </div>
</div>